/* ---------- GLOBALS ---------------- */
$light: #f1f1f1;
$blue: #0666d5;
$primary: #790f0f;
$secondary: #89c4ff ;
$shadow-color: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);

$test-color: rgb(161, 211, 25);

$wine: #790f0f;
$wine-gradient: linear-gradient(90deg, rgba(56,0,0,1) 0%, rgba(139,20,26,1) 100%);
$dark-gradient: radial-gradient(circle, rgba(55,4,4,1) 0%, rgba(22,0,0,1) 100%);
$light-wine: #9e2a2a;
$orange-brown: #dd5d00;
$light-orange-brown: #e7b48f;
$dark-mode: #202124;