@import 'config';
@import 'toggle';

*,*::before,*::after{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: $orange-brown;
}

body{
    font-family: Georgia, 'Times New Roman';
    background-image: radial-gradient( circle 321px at 8.3% 75.7%,  rgba(209,247,241,1) 0%, rgba(249,213,213,1) 81% );  // very light pink
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );  // green
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% ); // orange
}

hr {
    margin: 0;
    border-style: none;
    border: 1px solid $light-wine;
}

// --------------------------------------------------
.content {
    background-color: white;
    width: 500px;
    height: fit-content;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    border-radius: 13px;
    box-shadow: $shadow-color;
}
.main, .footer {
    padding: 25px;
}

.profile{
    color: $light;
    display: flex;
    justify-content: space-between;
    background: $wine-gradient;
    padding: 25px;

    &-details{
        width: fit-content;
        display: flex;
        align-items: center;
        img {
            max-width: 50px;
            max-height: 50px;
            border-radius: 50px;
            border: 3px solid white;
        }
        div {
            margin: 0 10px;
        }
    }
    
    &-settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

       .logout {
        border-radius: 10px;
        background-color: #cf2028;
        color: #eee;
        padding: 3px 5px;
       }
    }
}

.search-bar {
    background: $wine-gradient;
    
    form {
        width: inherit;
        
        .search {
            margin: 10px auto;
            background-color: $orange-brown;
            width: fit-content;
            border-radius: 26px;
            border-width: 0px;
            display: flex;
            
            input[type="search"]{
                padding: 0px 10px;
                border-radius: 26px 0 0 26px;
                height: 40px;
                border-style: none;
                background-color: #eee;
                color: #333;
                outline: none;
            }
            
            input[type="submit"] {
                height: 40px;
                background-color: $orange-brown;
                border-radius:  0 26px 26px 0;
                margin: 0;
                padding: 0px 7px;
                border-style: none;
                color: white;
            }        
        }
        
        .config{
            display: flex;
            justify-content: space-around;
            background-color: $light-wine;
            background: linear-gradient(45deg, rgba(140,15,15,1) 50%, rgba(222,36,46,1) 100%);
            color: white;
            
            .select-type {
                display: flex;
                align-items: center;
            
                .movie-type{
                    color: #333;
                    border-radius: 10px;
                    margin: 0px 7px;
                    width: 80px;
                    text-align: center;
                    border: none;
                    line-height: inherit;
                    outline: none;
                }
            }

            .select-image {
                display: flex;
                align-items: center;
            }
        }
    }
}

.movie-selection{
    min-height: 300px;
    
    .navigation, .status {
        color: rgb(156, 156, 156);
        font-size: small;
        background-color: rgb(236, 236, 236);
        padding: 3px 30px;
        width: inherit;
    }
    
    .status{
        position: sticky;
        top: 526px;
    }

}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    max-height: 300px;
    
    .card{
        width: 120px;
        height: 140px;
        margin: 5px;
        padding: 5px;
        background-color: $light-orange-brown;
        background-size: cover;
        border-radius: 5px;
        border: 1px solid $wine;
      }
}

.get-link-page {
    padding: 30px;    
    height: 300px;
    overflow: auto;

    .link-card {
        min-height: 200px;
        max-height: 200px;
        margin: 15px 0;
        padding: 20px;
        border-radius: 10px;
        background-color: $light-orange-brown;
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

.see-more {
    position: absolute;
    top: 545px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    background-color: $orange-brown;
    color: #eee;
    box-shadow: $shadow-color;
    transition: 0.3s;
}
.see-more:hover{
    // opacity: 100%;
    transform: scale(1.1);
}


.footer {
    background: rgb(55,4,4);
    background: $dark-gradient;
    color: white;
    text-align: center;
}

// ----------------------------------


// --------------------------------------
// .content
// {
//   position: relative;
// }
