/* ---------- GLOBALS ---------------- */
:root {
    --dark-blue: #002d61;
    --blue: #0666d5;
    --primary: #ddeeff;
    --secondary: #89c4ff ;
    --shadow-color: #615f5f;

    --test-color: rgb(161, 211, 25);
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}


body, input, button, select[name=movie-type] {
    font-family: montserrat, sans-serif;
    color: var(--dark-blue);
    font-weight: bold;
}

body{
    background: var(--secondary);
}
/* just for testing */
/* form, h1, label{
    border: solid 2px var(--test-color); 
}  */
h1{
    margin: 0;
}
/* ---------- FRAMES/STRUCTURE ---------------- */
.content {
	width: 400px;
	border-radius: 5px;
	margin: auto;
	margin-top: 7rem;
    padding: 25px;
	box-shadow: 1px 3px 10px var(--shadow-color);
    background: var(--primary);
    border: solid 2px var(--blue);
	/* overflow: hidden; */
}
form{
    padding: 1rem 1.5rem;
}
form > * {
    margin: 0.5rem 0;
}
.search{
	display: flex;
	justify-content: center;
}

/*---------------- ELEMENTS ----------------------*/
h1 {
    text-align: center;
}

input[type=text] {
    font-family: inherit;
    font-weight: lighter;
    color: var(--dark-blue);
	border: 2px solid var(--blue);
    border-right-width: 0;
	border-radius: 7px 0 0 7px;
	font-size: 1rem;
	width: 95%;
    height: 34px;
	/* margin: 5px 0; */
	padding: 5px;
	color: var(--dark-blue);
	display: flex;
	justify-content: center;
}
/* haven't yet figured out how to take away the dark defualt border when it is active */
input[type=text]:active{
    border: inherit;
}
button {
    font-weight: bold;
    display: inline;
    font-size: 0.75rem;
    color: var(--primary);
    background: var(--blue);
    border-radius: 0 7px 7px 0;
    width: 75px;
    height: 34px;
    border: 2px solid var(--blue);
    border-left-width: 0;
    /* padding: 10px; */
}
button:active{
    color: var(--blue);
    background: var(--primary);
}

select[name=movie-type]{
    padding-right: 50px;
    border: 2px solid var(--blue);
    border-radius: 7px;
}
/* haven't yet figured out how to take away the dark defualt border when it is active */
/* select[name=movie-type]:focus {
    border-style: 1px solid red;
} */
span.img-dwd{
    margin-left: 40px;
    font-size: 0.75rem;
}
